@font-face {
    font-family: 'amaticbold';
    src: url('../fonts/amatic-bold-webfont.eot');
    src: url('../fonts/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amatic-bold-webfont.woff2') format('woff2'),
         url('../fonts/amatic-bold-webfont.woff') format('woff'),
         url('../fonts/amatic-bold-webfont.ttf') format('truetype'),
         url('../fonts/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'boycottregular';
    src: url('../fonts/boycott_-webfont.eot');
    src: url('../fonts/boycott_-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boycott_-webfont.woff2') format('woff2'),
         url('../fonts/boycott_-webfont.woff') format('woff'),
         url('../fonts/boycott_-webfont.ttf') format('truetype'),
         url('../fonts/boycott_-webfont.svg#boycottregular') format('svg');
    font-weight: normal;
    font-style: normal;

}





body{
  font-family: helvetica, sans-serif;
  font-size: 20px;
  vertical-align: baseline;
  margin: 155px;
  line-height: 2.5em;
  text-align: left;
  background-attachment: fixed;
  background-image: url(../image/forest.jpg);
  background-color: olive;

}

.header p {
  font-family: 'Special Elite', cursive, bold;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #3d3d29;
  text-indent: 30px;
}

.picture {
  height: 300px;
  width: 1000px;
  float: left;
  margin: 5px auto 0 auto;
  padding-bottom: 30px;
}

.container {
  display: inline-block;
  background-color: rgba(112,141,15,0.8);
  border: 5px dashed #385125;
  width: 100%;
  padding: 100px 100px 200px 100px;
  height: 5800px;
  width: 1200px;
}

div{
  padding-top: 5px;
  padding-bottom: 5px;
}

.container h1{
  font-family: helvetica, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  color: rgba(25, 94, 94, 0.6);
  font-weight: bold;
  text-decoration: underline;
  padding-bottom: 70px;
}


/* --------------------- NAVIGATION --------------------- */


nav {
    height: 70px;
    font: 20px "gill sans mt", verdana, sans-serif;
    outline: 2px solid none;
    margin-bottom: 30px;
    text-transform: uppercase;
}

nav li {
    float: left;
    width: 198px;
    list-style-type: none;
    text-align: center;
    line-height: 50px;
    background-color:#385125;
}

nav li a {
    text-decoration: none;
    color:gold;
    display: block;
    font-family: 'boycottregular', arial, sans-serif;
    font-size: 130%;
    color: peachpuff
}

nav li a:hover {
    color: #392613;
    background: #99994d;
}

a{
    text-decoration: none;
    font-weight: bold;
    color:yellowgreen;
}

a: hover {
    color: white;
}



h1:hover {
  color: white;
  font-size: 30px;
}

.container p{
  font-style: normal;
  padding-bottom: 20px;
  border-bottom: 2px solid #485D5D;
}

.project p{
  font-family: 'Josefin Slab', serif, bold;
  font-style: normal;
  font-size: 30px;
  background-color: rgba(51, 111, 62, 0.6);
  color: #392613;
  border: 20px;
  padding-bottom: 500px;
  text-indent: 30px;
}

.project {
  padding-bottom: 50px;
}

.project h2{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  text-transform: uppercase;
  color: gold;
}

.project span{
  font-family: 'amaticbold', arial, sans-serif;
  color: khaki;
  font-size: 40px;
  word-spacing: 7px;
  letter-spacing: 1.5px;
}

.work {
  float: right;
  box-shadow: 4px 4px 6px #555;
  margin-left: 30px;
  margin-bottom: 30px;
  height: 500px;
}

.work:hover {
  height: 550px;
}

footer {
    font-family: font-family: 'Raleway', sans-serif;
    font-size: 25px;
    clear: both;
    text-align: center;
    padding-top: 30px;
}

/* --------------------- desktop version --------------------- */

@media (min-width: 600px) and (max-width: 800px) {

  .box {
  width: 75%;
  height:200px;
  margin: 70px;
  }
  
  .show-desktop {
   display: block;
  }

  .show-mobile {
   display: none;
  }
   
  .container {
    width: 75%;
  }



}





/* --------------------- mobile version --------------------- */

@media (max-width: 600px) {

  .box {
  width: 75%;
  height:200px;
  margin: 50px;
  }

  .container {
   width: 50%;
  }


  .show-desktop {
    display: none;
  }

  .show-mobile {
    display: block;
  }





}


















